# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Output hasil scraping (data, bukan kode)
hasil_sekolah.csv
*.csv

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Selenium driver cache
.wdm/